.left-side {
    -webkit-animation: left 1s var(--delay) both;
            animation: left 1s var(--delay) both;
  }
  .left-side svg {
    width: 24px;

  }
  
  @-webkit-keyframes left {
    0% {
      transform: translateX(-30px);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes left {
    0% {
      transform: translateX(-30px);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @-webkit-keyframes top {
    0% {
      transform: translateY(-30px);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes top {
    0% {
      transform: translateY(-30px);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  
.burger {
  width: 26px;
  height: 24px;
  cursor: pointer;
}

.burger svg rect {
  transition: transform 0.3s;
}

.b-active svg rect:nth-child(1) {
  transform: rotate(45deg) translate(15%, -10%);
}

.b-active svg rect:nth-child(2) {
  transform: rotate(-45deg) translate(-50%, 20%);
}
.b-active svg rect:nth-child(3) {
  transform: rotate(-45deg) translate(-50%, -20%);
}